/* CUSTOM STYLES */
nav {
  width: 100%;
  background-color: #555;
  padding: 10px 0;
}

nav a {
  margin: 10px;
  text-decoration: none;
  font-size: 20px;
  color: chartreuse;
  cursor: pointer;
}

nav a:hover {
  color: hotpink;
}

.footer {
  background-color: #555;
  width: 100%;
  height: 25px;
  position: fixed;
  bottom: 0;
}

.footer-text{
  color: white;
  font-size: 11px;
}

/* DEFAULT STYLES */
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.todo-wrapper {
  margin: 20px auto 20px auto;
  width: 500px;
  min-height: 600px;
  border: 5px solid rgba(73, 204, 249, 1.0);
  padding: 20px;
}
